{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarText"
			aria-controls="navbarText"
			aria-expand="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarText" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item d-flex flex-row">
					<span class="nav-link">
						Compratiote {{user}}.
					</span>
					<img src="{{MEDIA_URL}}{{user.image}}" class="rounded-circle" alt="logo"/>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/update/">
						profil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">
						déconnexion
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
