{% extends 'empanadas/base.html' %}

{% block title %} demande de renouvellement effectuée {% endblock %}

{% block main %}

<h2> demande de renouvellement effectuée </h2>

<p>
	Nous vous avons envoyé par mail les instructions.
</p>

{% endblock %}
{% extends 'empanadas/base.html' %}

{% block title %} renouvellement effectué {% endblock %}

{% block main %}

<h2> votre mot de passe à été mofidié </h2>

<p>
	Votre nouveau mot de passe est à présent actif :
	<a href="/login"> connexion </a>
</p>
{% endblock %}
