<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title> les ingrédients </title>
	</head>
	<body>
		<header>
			<nav>
				<div> <a href="/empanadas"> les empanadas </a> </div>
				<div> <a href="/ingredients"> les ingrédients </a> </div>
			</nav>
		</header>
		<main>
			<h2> Voici nos {{ingredients|length}} ingredients </h2>
			<ul>
				{% for ing in ingredients %}
				<li> {{ing}} </li>
				{% endfor %}
			</ul>
		</main>
		<footer>
			&#127279; Tienda Django Criollo
		</footer>
	</body>
</html>
	

