{% extends 'empanadas/base.html' %}

{% block title %} détail d'une empanada {% endblock %}

{% block main %}

<h2> {{ empanada }} </h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col"> Quantité </th>
				<th scope="col"> Ingrédient </th>
			</tr>
		</thead>
		<tbody>
			{% for ing in composition %}
			<tr>
				<td scope="row">
					{{ing.quantite}}
				</td>
				<td scope="row">
					{{ing.ingredient.nomIngredient}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
