{% extends 'empanadas/base.html' %}

{% block title %} détail d'une empanada {% endblock %}

{% block main %}
<h2> {{ empanada }} </h2>
<div class="d-flex justify-content-center align-items-center flex-column">
	<img src="{{MEDIA_URL}}{{empanada.image}}" style="width: 18rem;">

	<a href="/cart/{{empanada.idEmpanada}}/buy/">
		<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
		  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
		  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
		</svg>
	</a>
</div>

{% if composition|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col"> Quantité </th>
				<th scope="col"> Ingrédient </th>
			</tr>
		</thead>
		<tbody>
			{% for ing in composition %}
			<tr>
				<td scope="row">
					{{ing.quantite}}
				</td>
				<td scope="row">
					{{ing.ingredient.nomIngredient}}
				</td>

				{% if user.is_staff %}
				<td>
					<a href="/empanadas/{{empanada.idEmpanada}}/deleteIngredient/{{ing.ingredient.idIngredient}}/">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
						  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
						  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
						</svg>
					</a>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% else %}

	Les ingrédients n'ont pas encore été renseignés.

{% endif %}

<h2> Ajouter un ingrédient à la recette </h2>

<form
	action="/empanadas/{{empanada.idEmpanada}}/addIngredient"
	method="post"
>
	{% csrf_token %}
	<div class="m-3">
		<label
			for="id_ingredient"
			class="form-label"
		>
			ingrédient
		</label>
		<select
			id="id_ingredient"
			name="ingredient"
			class="form-select"
			requiered
		>
			<option selected disabled> choissisez </option>

			{% for ingr in ingredients %}
				<option value="{{ingr.idIngredient}}"> 
					{{ingr.nomIngredient}}
				</option>
			{% endfor %}
		</select>

		<label
			for="id_quantite"
			class="form-label"
		>
			Quantité
		</label>
		<input 
			id="id_quantite"
			name="quantite"
			type="text"
			maxlength="100"
			requiered
			class="form-control"
		>
	</div>
	<button type="submit" class="btn btn-primary">
		Envoyer
	</button>
</form>

{% endblock %}
