{% extends 'empanadas/base.html' %}

{% block title %} les ingredients {% endblock %}

{% block main %}
<h2> Voici nos {{ingredients|length}} ingredients </h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"> ingredient </th>
			<th scope="col"> modifier </th>
			<th scope="col"> supprimer </th>
		</tr>
	</thead>
	<tbody>
		{% for ing in ingredients %}
		<tr>
			<td scope="row">
				{{ing}}
			</td>
			<td scope="row">
				<a href="/ingredients/{{ing.idIngredient}}/update"> modifier </a> 
			</td>
			<td scope="row">
				<a href="/ingredients/{{ing.idIngredient}}/delete"> supprimer </a> 
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
