<div class="p-3 bg-dark text-white">
	<hr class="hr"/>
	<h3> Administration </h3>
	<hr class="hr"/>
	<ul class="nav nav-pills flex-column">
		<li class="nav-link text-white">
			<details>
				<summary class="fw-bold">Empanadas</summary>
				<li class="nav-item">
					<a class="nav-link text-white"href="/empanadas">
						toutes
					</a>
				</li>
				<li class="nav-item">
					<a 
						class="nav-link text-white"
						href="/empanadas/add"
					>
						ajouter
					</a>
				</li>
			</details>
		</li>
		<li class="nav-link text-white">
			<details>
				<summary class="fw-bold">Ingrédients</summary>
				<li class="nav-item">
					<a 
						class="nav-link text-white"
						href="/ingredients"
					>
						tous
					</a>
				</li>
				<li class="nav-item">
					<a 
						class="nav-link text-white"
						href="/ingredients/add"
					>
						ajouter
					</a>
				</li>
			</details>
		</li>
		<li class="nav-link fw-bold text-white">
			<a 
				class="nav-link text-white"
				href="/stats/clients"
			>
				Clients
			</a>
		</li>
		<li class="nav-link fw-bold text-white">
			<a 
				class="nav-link text-white"
				href="/stats/commandes"
			>
				commandes
			</a>
		</li>
	</ul>
	<hr class="hr"/>
	<h3> Statistiques </h3>
	<hr class="hr"/>
	<ul class="nav nav-pills flex-column">
		<li class="nav-link fw-bold text-white">
			Revenus
		</li>
		<li class="nav-link fw-bold text-white">
			Ventes
		</li>
		<li class="nav-link fw-bold text-white">
			Activité récente
		</li>
	</ul>
</div>
