{% extends 'empanadas/base.html' %}

{% block title %} les commandes {% endblock %}

{% block main %}

<h2> les commandes </h2>

{% if commandes|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col"> num. cmd. </th>
				<th scope="col"> client </th>
				<th scope="col"> date </th>
				<th scope="col"> prix total </th>
				<th scope="col"> détails </th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
			<tr>
				<td scope="row">
					{{commande.idCommande}}
				</td>
				<td scope="row">
					{{commande.user.username}}
					<img src="{{MEDIA_URL}}{{commande.client.image}}" class="rounded-circle img-fluid" style="width: 25px; height: 25px;" alt="logo"/>
				</td>
				<td scope="row">
					{{commande.dateCommande}}
				</td>
				<td scope="row">
					{{commande.prix}}
				</td>
				<td scope="row">
					<a href="/stats/commandes/{{commande.idCommande}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
						  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
						  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
						</svg>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% else %}

	<h2> vous avez aucune commandes :'( </h2>

{% endif %}

{% endblock %}
